* {
    font-family: "Papyrus" ;
}

.ul-list-mainpage-card {
    width: auto;
    height: auto;
    padding: 16px 0px 16px 0px;
    background-color: gainsboro;
    
   
}
.ul-list-mainpage-card-item {
    
    border: inset;
    margin: 16px;
    text-align: center;
    list-style-position: inside;
    padding: 0px;
    list-style-type: none;
    background-color: grey;
    padding: 8px 0px 8px 0px;
   
}

a { 
  text-decoration: none;
  color: black;
}

a:visited { 
  text-decoration: none;
  color: rgb(59, 57, 57);
}

.title{
    
    text-align: center;
    width: auto;
    height: auto;
    background-color: goldenrod;
    padding: 16px 0px 16px 0px;

}